$color-cg-grey: #666666;
$color-cg-grey-light: #F0F0F0;
$color-cg-blue: #0071b9;
$color-cg-red: red;

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: url("https://i.stack.imgur.com/ATB3o.gif") center no-repeat #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img{
        width: auto;
        height: auto;
        margin: 30px;
    }
}


 
.popupOpenConf {
    position: fixed;
    z-index: 99999;
    right: 30px;
    bottom: 110px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    //background: black;
    background-color: #ff1493;
    background-image: linear-gradient(160deg, red 0, red 25%, orange 26%, #ffee79 49%, green 50%, lightgreen 75%, blue 76%, lightblue 100%);
    border-radius: 50%;
    padding: 10px;
    transition: all .3s;

    &:hover {
        transform: scale(1.1);
    }

    svg {
        fill: white;
    }
}

.popup-demo-psion {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: white;
    transition: all .3s;
    box-sizing: border-box;
    z-index: 150;
    width: 25%;
    min-width: 475px;
    height: 100vh;
    font-family: 'Montserrat', sans serif !important;
    box-shadow: 1px 0 0 0 $color-cg-grey-light;

    #container_ref{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        flex-wrap: wrap;
    }


    .titre-config {
        @include font-size(2.8);
        text-transform: uppercase;
        font-weight: 900;
        transition: all 1s ease-out;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        padding: 15px;
        position: relative;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        z-index: 1;

        img {
            max-width: 100px;
            margin-right: 30px;
        }
    }

    nav {
        width: 100%;
        overflow: auto;
        flex-grow: 1;
        opacity: 0;
        transition: all 1s;
        padding-top: 1px;

        &::-webkit-scrollbar-track {

        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: $color-cg-grey-light;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-cg-grey;
            border-radius: 3px;

            &:hover {
                background-color: $color-cg-blue;
            }
        }

        li {
            width: 100%;
            transition: all 0.3s;
            padding: 0 15px 15px;

            .li_container {
                display: block;
                text-decoration: none;
                position: relative;
                height: 100%;
                transition: all 0.3s;
                box-shadow: 0 0 0 1px $color-cg-grey-light;
                border-radius: 3px;

                header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 10px 0 0;
                    cursor: pointer;

                    .single_reset{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        cursor: pointer;
                        z-index: 9999;

                        &:hover{
                            svg{
                                transform: scale(1.05);
                            }
                        }

                        svg{
                            width: 40px;
                            height: 40px;
                            transition: all .3s ease-out;
                        }
                    }

                    h3 {
                        @include font-size(2);
                        text-transform: uppercase;
                        display: flex;
                        position: relative;
                        align-items: center;
                        transition: all 0.3s;
                        color: $color-cg-grey;
                        cursor: pointer;
                        padding: 1em .5em 1em 2em;
                        z-index: 2;

                        strong {
                            position: absolute;
                            left: -5px;
                            font-weight: 900;
                            @include font-size(5);
                            color: #000;
                            background: #fff;
                            mix-blend-mode: multiply;
                            transition: all 0.3s;
                            //opacity: .3;

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                mix-blend-mode: screen;
                                @include gradient-vertical($color-cg-grey, $color-cg-grey-light);
                                pointer-events: none;
                                transition: all .3s;
                            }
                        }

                        &:hover {
                            color: black;
                        }
                    }
                }

                &.updated {
                    &:after {
                        content: "";
                        position: absolute;
                        background: $color-cg-red;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        right: 25px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &.open {
                    box-shadow: 0 0 0 1px $color-cg-grey;

                    &.updated {
                        &:after {
                            top: 30px;
                        }
                    }

                    h3 {
                        color: black;
                        box-shadow: inset 0 -3px 0 0px $color-cg-grey-light;

                        strong {
                            //opacity: 1;
                            &:before {
                                @include gradient-vertical($color-cg-blue, #33a4ff);
                            }
                        }
                    }

                    .nav-item-wrap {
                        opacity: 1;
                    }
                }

                .nav-item-wrap {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 15px 0;
                    opacity: 0;

                    .intro-mod {
                        span {
                            font-weight: 700;
                            display: block;
                            line-height: 2.2rem;
                        }

                        p {
                            font-weight: normal;
                            color: $color-cg-grey;
                            @include font-size(1.4);
                            padding-bottom: 1em;
                        }
                    }
                }

            }

        }
    }


    .button_container_config {
        display: flex;
        position: relative;
        background: white;
        width: 100%;
        z-index: 1;
        padding: 15px;
        justify-content: space-between;
        transition: all .3s;

        .btn_container_conf {
            width: 24%;

            > a, label {
                display: flex;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                transition: all .3s;
                height: 100%;
                border-radius: 15px;
                background: none;
                text-decoration: none;
                padding: 15px;

                span {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 900;
                    line-height: 14px;
                    font-size: 10px;
                    text-transform: uppercase;
                    transition: all .3s;
                    max-height: 0;
                    opacity: 0;
                }

                svg {
                    width: 50px;
                    height: 50px;
                    min-width: 30px;
                    transition: all .3s;
                    fill: black;
                }

                &:hover {
                    span {
                        color: $color-cg-blue;
                    }

                    svg {
                        fill: $color-cg-blue;
                        transform: translateY(-5px);
                    }
                }
            }

            #getsaveConfig {
                display: none;
            }
        }

        &:hover {
            box-shadow: 0 -15px 20px -15px rgba(black, .2);

            .btn_container_conf {
                span {
                    opacity: 1;
                    margin-top: 15px;
                    max-height: 4rem;
                }
            }
        }
    }

}

.nav-icon-wrap {
    width: 10px;
    height: 70px;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 120px;
    transition: left 0.5s ease-out, margin 0.4s ease;

    span {
        background: rgba(0, 114, 185, 1);
        width: 100%;
        display: block;
        height: 10px;
        margin: 10px 0;
        border-radius: 50%;
        transition: background-color 0.4s ease, margin 0.4s ease;
    }
}

.swal2-popup {
    font-size: 22px !important;
    width: 40vw !important;
}

#container {
    &.infocob-configu_active {
        display: flex;
        justify-content: flex-end;

        #header {
            width: 75%;
            left: initial;
            right: 0;


            .demo2_header{
                left: 25% !important;
            }
        }

        #content {
            width: 75%;
            box-shadow: -15px 0 20px -25px black;
            z-index: 11;

            .JS-swiper-home img {
                width: 100%;
            }
        }
    }

    .JS-swiper-home img {
        width: 140%;
    }
}

#footer {
    width: 100%;
    position: relative;
    right: initial;

    &.infocob-configu_active {
        width: 75%;
        position: absolute;
        right: 0;
    }
}

.rgpd_block {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
        margin-right: 20px;
    }
}


body.dragging, body.dragging * {
    cursor: move !important;
}

//Extension Version
.version {
    position: absolute;
    font-size: 10px;
    top: 10px;
    right: 10px;
}

//mail sender container
#send_mail_container {
    width: 75%;
    height: 100vh;
    background: #fff;
    opacity: 0;
    position: fixed;
    right: 100%;
    top: 0;
    z-index: 140;
    transition: all 1s ease-out;

    &.active {
        right: 0;
        opacity: 1;
    }

    #close_mail_container {
        width: 25px;
        height: 25px;
        background: #43A2D9;
        border-radius: 50%;
        position: absolute;
        right: 60px;
        top: 30px;
        cursor: pointer;
        transition: all .3s ease-out;
        @include font-size(2.3);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: scale(1.1);
        }
    }
}

//section page generated
.section_pages {
    form {
        padding: 30px;
    }

    .nav-item-wrap {
        flex-direction: column;

        .itemOK {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.sub-menu.sub-menu-0 {
    opacity: 0 !important;

    &.fill {
        opacity: 1 !important;
    }
}

//------- EDIT MAIL FORM -------///
.mail_container {
    width: 100%;
    height: 100%;
    padding: 40px;
}


//backend
#getAllConfigu_wrapper {
    padding: 10px 30px 0 0;
}

.bootno {
    &::before, &::after {
        display: none;
    }
}


.general-container {
    width: 100%;


    .form-horizontal {
        margin-bottom: 50px;

        legend {
            @include font-size(2.2);
            font-weight: 700;
        }
    }
}

.form-group {
    margin: 15px 0;

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }

}

.dropzone .dz-preview .dz-image img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}