//---LOGO---
#configu-logo {
    .logo-container {
        display: flex;
        flex-direction: column;

        .dropzone {
            margin: 10px 0;
            width: 100%;
            background: white;
            border-radius: 5px;
            border: 2px dashed rgba($color-cg-blue, .5) !important;
            border-image: none !important;
            max-width: 500px;
            position: relative;

            .dz-preview {
                width: 100% !important;
                height: 100% !important;
                margin: 0 !important;

                .dz-image {
                    width: 100% !important;
                    height: 100% !important;

                    img {
                        width: 100% !important;
                        height: 120px !important;
                        object-fit: contain;
                    }
                }

                .dz-remove {
                    background: $color-cg-grey-light;
                    padding: 1em;
                    text-decoration: none;
                }
            }

            &:hover {
                border: 2px dashed rgba($color-cg-blue, 1) !important;
            }
        }
    }
}

//---LOGO---