//---COLOR---
#configu-color {
    .color-container {
        display: flex;
        flex-direction: column;

        .colorpicker {
            display: flex;
            align-items: center;
            padding-bottom: 15px;

            .colorpicker_container {
                width: 100%;

                #dd-custom-branding-metabox{
                    width: 100%;

                    h3 {
                        border-bottom: 1px solid #000000;
                        font-style: italic;
                        font-weight: bold;
                        margin: 7px 0 17px 0;
                        padding: 0 0 2px 0;
                    }

                    .single-option {
                        margin-bottom: 10px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        label {
                            display: inline-block;
                            font-size: 13px;
                            font-weight: bold;
                            line-height: 15px;
                            width: 120px;
                        }

                        input[type="text"] {
                            margin-left: 10px;

                            &.small {
                                width: 50px;
                            }
                        }
                    }

                    .colorFill{
                        width: 30px;
                        height: 30px;
                        position: relative;
                        background: $color-cg-blue;
                        box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
                        cursor: crosshair;
                    }

                    input{
                        padding: 5px 10px;
                        border: solid 1px $color-cg-blue;
                        border-radius: 10px;
                    }

                    .iris-picker {
                        position: absolute;
                        z-index: 99999;
                    }
                }
            }

            .label_color {
                cursor: pointer;
                font-weight: 700;
                display: block;
            }
        }
    }
}

//---COLOR---