//---POLICE---
#configu-police {
    .police-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .select_container {
            margin: 20px 0;

            .police_selector_label {
                margin-bottom: 15px;
                font-weight: 700;
                display: block;
            }

            input[type = "text"] {
                display: block;
                @include font-size(1.6);
                padding: 15px;
                outline: 0;
                border: 1px solid #999;
                border-radius: 3px;
                background: #f0f0f0;
                transition: all, .3s;
                font-family: "Montserrat", sans serif;
                width: 100%;
                margin: 20px 0;
            }

            /* Reset Select */
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                outline: 0;
                box-shadow: none;
                background-image: none;
                position: relative;
                display: flex;
                width: 100%;
                height: 3em;
                line-height: 3;
                background: black;
                overflow: hidden;
                border-radius: 3px;

                flex: 1;
                padding: 0 .5em;
                color: white;
                cursor: pointer;
                margin-bottom: 15px;

                &::-ms-expand {
                    display: none;
                }

                &::after {
                    content: '\25BC';
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 1em;
                    background: #34495e;
                    cursor: pointer;
                    pointer-events: none;
                    -webkit-transition: .25s all ease;
                    -o-transition: .25s all ease;
                    transition: .25s all ease;
                }

                &:hover::after {
                    color: #f39c12;
                }

                option {
                    @include font-size(2.2);
                }
            }

            .select_font_main {
                padding: 5px;
                border-radius: 5px;
                background: $color-cg-blue;
            }

            .select_font_sec {
                padding: 5px;
                border-radius: 5px;
                background: $color-cg-grey;
                margin-bottom: 10px;
            }
        }


    }
}

//---POLICE---