//---RESEAUX SOCIAUX----
#configu-reseaux {
    .reseaux-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;

        .check_container, .check_container_reseaux {
            display: flex;
            align-items: center;
            width: 50%;
            padding: 15px 50px 15px 15px;
            margin-bottom: 15px;
            position: relative;
            cursor: pointer;
            font-weight: 700;

            input {
                display: none;

                &:checked ~ .checkmark {
                    box-shadow: 0 0 0 3px $color-cg-blue;

                    &:after {
                        opacity: 1;
                        animation: bounce .5s;
                    }
                }
            }

            .checkmark {
                position: absolute;
                width: calc(100% - 7.5px);
                height: 100%;
                display: flex;
                align-items: center;
                background: $color-cg-grey-light;
                left: 0;
                z-index: -1;
                border-radius: 3px;
                box-shadow: 0 0 0 1px $color-cg-grey;
                transition: all .3s;

                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    opacity: 0;
                    transition: all .3s;
                    right: 20px;
                    top: 10px;
                    width: 10px;
                    height: 20px;
                    border: solid $color-cg-blue;
                    border-width: 0 4px 4px 0;
                    transform: rotate(45deg);

                    @keyframes bounce {
                        0% {
                            transform: rotate(45deg) scale(.5);
                        }
                        50% {
                            transform: rotate(45deg) scale(1.2);
                        }
                        100% {
                            transform: rotate(45deg) scale(1);
                        }
                    }
                }

            }

            &:nth-child(2n+2) {
                padding: 15px 50px 15px 20px;

                .checkmark {
                    right: 0;
                    left: auto;
                }

            }

            &:hover {
                span {
                    background: rgba($color-cg-grey-light, .5);
                }
            }
        }
    }
}

//---RESEAUX SOCIAUX----