.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
}

ol.example li.placeholder:before {
    position: absolute;
}

.sortable-chosen {
    opacity: .2;
}

//---MENU---
#configu-menu {
    .menu-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .select_menu{
            label{
                @include font-size(1.6);
                font-weight: bold;
            }

            #menus_back{
                margin: 10px 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                outline: 0;
                box-shadow: none;
                background-image: none;
                position: relative;
                display: flex;
                width: 100%;
                line-height: 3;
                background: #000;
                overflow: hidden;
                border-radius: 3px;
                flex: 1;
                padding: 0 0.5em;
                color: #fff;
                cursor: pointer;
                @include font-size(1.6);
                text-transform: capitalize;

                option{
                    @include font-size(1.6);
                    text-transform: capitalize;
                }
            }
        }


        .page_container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            position: relative;
            padding: 0 0 0 50px;

            li {
                padding: 0;
                transition: all .3s ease-in-out;
                margin: 5px 0;

                &.subMenu_configu{
                    width: 100%;
                    height: 100%;
                    margin: 5px 0 5px 30px;
                }

                &.sortable-chosen {
                    transform: scale(1.1);

                    .checkmark {
                        background: rgba($color-cg-blue, .4);
                    }
                }
            }

            .check_container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 15px 50px 15px 15px;
                //margin-bottom: 15px;
                position: relative;
                cursor: pointer;
                font-weight: 700;

                input {
                    display: none;

                    &:checked ~ .checkmark {
                        box-shadow: 0 0 0 3px $color-cg-blue;

                        &:after {
                            opacity: 1;
                            animation: bounce .5s;
                        }
                    }
                }

                .checkmark {
                    position: absolute;
                    width: calc(100% - 7.5px);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    background: $color-cg-grey-light;
                    left: 0;
                    z-index: -1;
                    border-radius: 3px;
                    box-shadow: 0 0 0 1px $color-cg-grey;
                    transition: all .3s;

                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                        opacity: 0;
                        transition: all .3s;
                        right: 20px;
                        top: 10px;
                        width: 10px;
                        height: 20px;
                        border: solid $color-cg-blue;
                        border-width: 0 4px 4px 0;
                        transform: rotate(45deg);

                        @keyframes bounce {
                            0% {
                                transform: rotate(45deg) scale(.5);
                            }
                            50% {
                                transform: rotate(45deg) scale(1.2);
                            }
                            100% {
                                transform: rotate(45deg) scale(1);
                            }
                        }
                    }

                }

                &:nth-child(2n+2) {
                    padding: 15px 50px 15px 20px;

                    .checkmark {
                        right: 0;
                        left: auto;
                    }

                }

                .delete_page {
                    position: absolute;
                    left: 20px;
                    background: white;
                    padding: 10px;
                    border-radius: 20%;
                    color: red;
                    z-index: 9999;
                    cursor: pointer;
                    transition: all .3s ease-out;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                &:hover {
                    span {
                        background: rgba($color-cg-grey-light, .5);
                    }
                }
            }
        }

        .new_element_container {
            margin: 20px 0;

            .police_selector_label {
                @include font-size(2);
                font-weight: 600;
            }

            #add_mainmenu_item {
                margin: 20px 0;
                border: 1px solid #d6d6d6;
                width: 100%;
                border-radius: 20px;
                height: 35px;
                @include font-size(1.8);
                padding: 0 10px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            }

            .add_mainmenu_item_btn {
                width: 100%;
                height: 30px;
                border: none;
                background: #2293E8;
                @include font-size(2);
                font-weight: 700;
                box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
                cursor: pointer;
                transition: all .3s ease-out;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

//---MENU---

//---CONTENUS---
#configu-contenus {
    .contenus-container {

    }
}


.front-display-menu{
    margin-bottom: 30px;

    h3{
        font-size: 20px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        box-shadow: none !important;
    }
}

//---CONTENUS---

.select_menu{
    margin: 20px 0;
}

.menu_container_back{
    .menu-item{
        position: relative;

        .delete_menu{
            color: red;
            font-size: 25px;
            background: #fff;
            padding: 10px;
            border-radius: 30px;
            position: absolute;
            top: 50%;
            left: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all .3s ease-out;

            &.disable{
                cursor: not-allowed;
                opacity: .5;
            }

            &:hover{
                transform: scale(1.05) translateY(-50%);
            }
        }

        .selectorsubmenu {
            position: absolute;
            top: 50%;
            left: -50px;
            transform: translateY(-50%);
            color: #f0f0f0;
            font-size: 18px;
            padding: 10px;
            border-radius: 30px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .3s ease-out;
            z-index: 999;

            &.disabled{
                cursor: not-allowed !important;
                opacity: .5 !important;
                background: grey !important;
            }
        }

        .addsubmenu{
            background: $color-cg-blue;
            transform: translateY(-50%) rotate(0deg);

            &:hover{
                transform: scale(1.05) translateY(-50%) rotate(0deg);
            }
        }

        .removesubmenu{
            background: #E3AC06;
            transform: translateY(-50%) rotate(180deg);

            &:hover{
                transform: scale(1.05) translateY(-50%) rotate(180deg);
            }
        }
    }
}

.new_element_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form_menu_item{
        width: 100%;
        margin: 10px 0;

        input{
            width: 100%;
            height: 30px;
            display: block;
            @include font-size(1.6);
            padding: 15px;
            outline: 0;
            border: 1px solid #999;
            border-radius: 3px;
            background: #f0f0f0;
            transition: all,.3s;
            margin: 5px 0;
        }
    }
}