.accordeon {
    list-style: none;
    width: 100%;
    max-width: 37.5rem;
    margin: 2rem auto;
}
.accordeon-item {
    border-top: 1px solid #ccc;
    padding: 0 !important;

    .dropzone {
        margin: 10px 0;
        width: 100%;
        background: white;
        border-radius: 5px;
        border: 2px dashed rgba($color-cg-blue, .5) !important;
        border-image: none !important;
        max-width: 500px;
        position: relative;

        .dz-preview {
            width: 100% !important;
            height: 100% !important;
            margin: 0 !important;

            .dz-image {
                width: 100% !important;
                height: 100% !important;

                img {
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                }
            }

            .dz-remove {
                background: $color-cg-grey-light;
                padding: 1em;
                text-decoration: none;
            }
        }

        &:hover {
            border: 2px dashed rgba($color-cg-blue, 1) !important;
        }
    }

    &:last-child {
        border-bottom: 1px solid #ccc;
    }

    &.opened{
        .accordeon-content{
            max-height: 100%;
            padding: 20px;
        }
    }
}
.accordeon-title {
    color: black;
    font-weight: 700;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    &:after {
        content: '+';
        transition: 0.3s ease-out;
    }
    .accordeon-item.opened & {
        &:after {
            transform: rotate(45deg);
        }
    }
}
.accordeon-content {
    overflow: hidden;
    transition: 0.3s ease-out;

    .accordeon-item:not(.opened) & {
        max-height: 0 !important;
    }
}