#configu-media{
    .media-container{
        display: flex;
        flex-direction: column;

        h4{
            font-size: 20px;
            font-weight: 500;
            margin: 10px 5px;
        }

        .container_list_media{
            width: 100%;
            height: 100%;

            .listOfMedia{
                position: relative;
                width: 100%;
                height: 100px;

                .formNewImage{
                    position: absolute;
                    width: calc(100% - 30px);
                    height: calc(100% - 15px);
                    z-index: 999;
                    transition: all .3s ease-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &:hover{
                        background: $color-cg-blue;
                        opacity: .8;

                        p{
                            opacity: 1;
                        }
                    }

                    p{
                        opacity: 0;
                        transition: all .3s ease-out;
                        color: white;
                        @include font-size(2.5);
                        font-weight: bold;
                    }

                    input{
                        display: none;
                    }
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
