#wpwrap{
    background: #556773;

    #back_configu_container{
        padding: 20px;
        font-family: 'Nunito', sans-serif;

        h1{
            color: white;
        }

        #card_header_container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            margin: 20px 0;
            padding: 0;

            li.card_header{
                flex: 24%;
                margin-right: 20px;
                padding: 20px;
                background: #1D2327;
                font-size: 24px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &:last-child{
                    margin-right: 0;
                }

                span{
                    color: white;
                }

                .result_card_header{
                    font-size: 30px;
                }
            }
        }

        #section_button_share{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            #button_action_configu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                flex: 49%;
                height: 100%;
                margin: 0 10px 20px 0;
                background: #1D2327;
                padding: 20px;

                a{
                    flex: 10%;
                    height: 100%;
                    margin: 10px 20px;
                    padding: 5px;
                    font-size: 15px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: white;
                    text-decoration: none;
                    text-align: center;

                    &#delete_allConfig {
                        background: #a52020;
                    }

                    &#godemo1{
                        background: #E3AC06;
                    }

                    &#godemo2{
                        background: #F5D38B;
                    }

                    &#godemo3{
                        background: #E19230;
                    }

                    &#godemo4{
                        background: #27597F;
                    }

                    &#godemo5{
                        background: #374266;
                    }
                }
            }

            #share_link_configu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                flex: 49%;
                height: 100%;
                margin: 0 0 20px 10px;
                background: #1D2327;
                padding: 20px;

                .option_gen_container{
                    margin: 20px 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;

                    label{
                        color: white;
                        margin-left: 10px;
                    }

                    select{
                        border: none;
                        border-radius: 0;
                    }
                }

                .card_share{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input{
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                    }

                    button{
                        width: 300px;
                        border: none;
                        height: 30px;
                        background: #5a6c9f;
                        color: white;
                    }
                }
            }
        }

        #display_configurations{
            background: #1D2327;
            padding: 20px;

            h2, label, th, div, a, input, select{
                color: white;
            }

            .dataTables_length select{
                width: 50px;
            }

            table{
                margin: 20px 0;
                width: 100% !important;

                tr{
                    background: #131719;
                }

                td{
                    background: white;
                }

                button{
                    padding: 5px 10px;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    border: none;

                    &.more_btn{
                        background: #0c6ca0;
                    }

                    &.dll_btn{
                        background: #1da1f2;
                    }

                    &.gen_btn{
                        background: #0e7b17;
                    }

                    &.delete_btn{
                        background: #a52020;
                    }
                }
            }
        }

    }
}

#getConfiguBack{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    li{
        width: 50%;
        padding: 10px;

        .title_back_list{
            font-size: 17px;
        }

        .group_back_displayAll{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            .image_back_displayed{
                width: 100px;
            }

            .title_back_list{
                font-size: 15px;
                font-weight: 600;
            }

            .value_back_list{
                font-size: 14px;
            }
        }

        .contenu_list{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;

            .group_back_displayAll{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
            }
        }
    }
}

#load_this_configu{
    background: #3F93CC;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    padding: 5px 10px;
}

.display_color{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.backPlusContainer{
    height: 80vh;
    top: 0;
}

