<div class="se-pre-con"><img src="../../wp-content/plugins/infocob-configu/images/infocobweb_logo.webp"></div>
<div class="popupOpenConf">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.87 53.23">
        <g>
            <polygon class="if-block-avis-svg-star-path"
                     points="27.93 0.42 36.26 17.29 54.87 19.99 41.4 33.12 44.58 51.66 27.93 42.91 11.29 51.66 14.47 33.12 1 19.99 19.61 17.29 27.93 0.42"/>
        </g>
        <g>
            <path class="if-block-avis-svg-star-grad"
                  d="M11.29,54.55a1,1,0,0,1-.59-.19,1,1,0,0,1-.4-1l3.09-18L.3,22.6a1,1,0,0,1-.25-1,1,1,0,0,1,.81-.68L19,18.27,27,1.88a1,1,0,0,1,.89-.56h0a1,1,0,0,1,.9.56l8.09,16.39L55,20.9a1,1,0,0,1,.56,1.7L42.47,35.36l3.09,18a1,1,0,0,1-1.45,1l-16.18-8.5-16.18,8.5A.93.93,0,0,1,11.29,54.55Zm-8.14-32,12,11.72a1,1,0,0,1,.29.88L12.61,51.72l14.86-7.81a1,1,0,0,1,.93,0l14.85,7.81L40.42,35.18a1,1,0,0,1,.28-.88l12-11.72L36.11,20.17a1,1,0,0,1-.75-.55l-7.43-15L20.51,19.63a1,1,0,0,1-.76.54Z"
                  transform="translate(0 -1.32)"/>
        </g>
    </svg>
</div>
<div class="popup-demo-psion">
    <h2 class="titre-config"><a href="https://www.infocob-web.com/" target="_blank" title="Infocob #web"><img
            src="../../wp-content/plugins/infocob-configu/images/infocobweb_logo.webp"/></a>Configurateur</h2>

    <div id="container_ref">
        <span id="display_reference"></span>
        <span id="display_commercial"></span>
    </div>

    <nav>
        <ul id="config_list_start">


            <!--==== LOGO SECTION ====-->
            <li class="configu-section" id="configu-logo">
                <div class="li_container">

                    <header>
                        <h3><strong>1</strong> Logo</h3>
                        <span class="single_reset" data-element="logo">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 510.39">
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path d="M436.63,74.12A254.88,254.88,0,0,0,256.8,0a257.33,257.33,0,0,0-60.1,7.08,7.5,7.5,0,1,0,3.5,14.59A242.64,242.64,0,0,1,256.8,15,240.17,240.17,0,0,1,426.64,425,238.56,238.56,0,0,1,256.8,495.39H256A240.19,240.19,0,0,1,16.61,255.2c0-1.48,0-3,.05-4.46H55.89c0,1.51-.06,3-.06,4.46,0,110.81,90.16,201,201,201a201.21,201.21,0,0,0,92.07-22.35,203.26,203.26,0,0,0,69.77-59.59,7.5,7.5,0,1,0-12.07-8.9A188.24,188.24,0,0,1,342,420.49a183.49,183.49,0,0,1-85.17,20.67c-102.54,0-186-83.42-186-186,0-2.1,0-4.29.12-6.49a12.51,12.51,0,0,0-12.49-13H14.22A12.46,12.46,0,0,0,1.71,247.91c-.07,2.43-.1,4.88-.1,7.29A255.11,255.11,0,0,0,255.92,510.39h.89A255.2,255.2,0,0,0,436.63,74.12Z"/>
                                        <path d="M10.24,208.28H118.88a15.37,15.37,0,0,0,11-4.28l47.81-47.43a9.46,9.46,0,0,0,2.1-10.35,9.59,9.59,0,0,0-8.75-6H110.88A186,186,0,0,1,442.73,251.28,183.69,183.69,0,0,1,424,336.65a7.5,7.5,0,1,0,13.48,6.6,201.17,201.17,0,0,0-177.87-289A201.36,201.36,0,0,0,93.34,138.43a10.61,10.61,0,0,0,8.51,16.72h55.83l-38.39,38.2c-.09.09-.22-.07-.35-.07H14.8V88.93c0-.14.48-.26.58-.35L53.66,50.5V94.81a10.44,10.44,0,0,0,18.47,6.78C76.81,96,81.8,90.52,87,85.36a239,239,0,0,1,80.87-53.42A7.5,7.5,0,1,0,162.29,18,253.58,253.58,0,0,0,76.36,74.75c-2.63,2.62-5.11,5.31-7.63,8.06V37.27a9.43,9.43,0,0,0-16.11-6.78L4.81,77.92A15.66,15.66,0,0,0,0,88.87V197.51A10.27,10.27,0,0,0,2.82,205a10.68,10.68,0,0,0,7.42,3.33Z"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </header>

                    <section class="nav-item-wrap logo-container">


                        <div class="intro-mod">
                            <span>Télécharger votre logo</span>
                            <p>Format PNG avec fond transparent conseillé</p>
                        </div>


                        <form id="upload-logo-header" class="dropzone" enctype="multipart/form-data" method="post" action="/wp-content/plugins/infocob-configu/inc/1-logo/logoDAO.php">
                            <div class="previews"></div>
                            <div class="dz-message" data-dz-message>
                                <span class="logo_message">Glissez votre logo principal ici ou parcourez vos fichiers</span>
                            </div>
                        </form>

                        <form id="upload-logo-footer" class="dropzone" enctype="multipart/form-data" method="post" action="/wp-content/plugins/infocob-configu/inc/1-logo/logoDAO.php">
                            <div class="previews"></div>
                            <div class="dz-message" data-dz-message>
                                <span class="logo_message">Glissez votre logo secondaire ici ou parcourez vos fichiers</span>
                            </div>
                        </form>


                    </section>


                    <footer>

                    </footer>

                </div>
            </li>
            <!--==== END LOGO SECTION ====-->

            <!--==== COULEURS SECTION ====-->
            <li class="configu-section" id="configu-color">
                <div class="li_container">

                    <header>
                        <h3><strong>2</strong> Couleurs</h3>

                        <span class="single_reset" data-element="color">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 510.39">
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path d="M436.63,74.12A254.88,254.88,0,0,0,256.8,0a257.33,257.33,0,0,0-60.1,7.08,7.5,7.5,0,1,0,3.5,14.59A242.64,242.64,0,0,1,256.8,15,240.17,240.17,0,0,1,426.64,425,238.56,238.56,0,0,1,256.8,495.39H256A240.19,240.19,0,0,1,16.61,255.2c0-1.48,0-3,.05-4.46H55.89c0,1.51-.06,3-.06,4.46,0,110.81,90.16,201,201,201a201.21,201.21,0,0,0,92.07-22.35,203.26,203.26,0,0,0,69.77-59.59,7.5,7.5,0,1,0-12.07-8.9A188.24,188.24,0,0,1,342,420.49a183.49,183.49,0,0,1-85.17,20.67c-102.54,0-186-83.42-186-186,0-2.1,0-4.29.12-6.49a12.51,12.51,0,0,0-12.49-13H14.22A12.46,12.46,0,0,0,1.71,247.91c-.07,2.43-.1,4.88-.1,7.29A255.11,255.11,0,0,0,255.92,510.39h.89A255.2,255.2,0,0,0,436.63,74.12Z"/>
                                        <path d="M10.24,208.28H118.88a15.37,15.37,0,0,0,11-4.28l47.81-47.43a9.46,9.46,0,0,0,2.1-10.35,9.59,9.59,0,0,0-8.75-6H110.88A186,186,0,0,1,442.73,251.28,183.69,183.69,0,0,1,424,336.65a7.5,7.5,0,1,0,13.48,6.6,201.17,201.17,0,0,0-177.87-289A201.36,201.36,0,0,0,93.34,138.43a10.61,10.61,0,0,0,8.51,16.72h55.83l-38.39,38.2c-.09.09-.22-.07-.35-.07H14.8V88.93c0-.14.48-.26.58-.35L53.66,50.5V94.81a10.44,10.44,0,0,0,18.47,6.78C76.81,96,81.8,90.52,87,85.36a239,239,0,0,1,80.87-53.42A7.5,7.5,0,1,0,162.29,18,253.58,253.58,0,0,0,76.36,74.75c-2.63,2.62-5.11,5.31-7.63,8.06V37.27a9.43,9.43,0,0,0-16.11-6.78L4.81,77.92A15.66,15.66,0,0,0,0,88.87V197.51A10.27,10.27,0,0,0,2.82,205a10.68,10.68,0,0,0,7.42,3.33Z"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </header>

                    <section class="nav-item-wrap color-container">

                        <div class="intro-mod">
                            <p>Nous vous conseillons de saisir les couleurs officielles de votre charte graphique.
                                N'hésitez pas à vous rapprocher de l'auteur de votre charte graphique pour avoir les
                                codes couleurs exacts.</p>
                        </div>

                        <div class="colorpicker main_color">
                            <div class="colorpicker_container">
                                <div class="metabox-holder" id="dd-custom-branding-metabox">


                                    <!-- Color main -->
                                    <div class="single-option">
                                        <label for="color-main">Couleur primaire</label>
                                        <span class="colorFill" data-type="main"></span>
                                        <input type="text" value="" name="color-main"
                                               class="color-picker" id="color-main" data-color="main"/>
                                    </div>

                                    <!-- Color main light -->
                                    <div class="single-option">
                                        <label for="color-main-light">Couleur primaire eclaircie</label>
                                        <span class="colorFill" data-type="main-light"></span>
                                        <input type="text" value="" name="color-main_light"
                                               class="color-picker" id="color-main-light"
                                               data-color="main-light"/>
                                    </div>

                                    <!-- Color main dark -->
                                    <div class="single-option">
                                        <label for="color-main-dark">Couleur primaire foncé</label>
                                        <span class="colorFill" data-type="main-dark"></span>
                                        <input type="text" value="" name="color-main_dark"
                                               class="color-picker" id="color-main-dark" data-color="main-dark"/>
                                    </div>

                                    <!-- Color secondary -->
                                    <div class="single-option">
                                        <label for="color-secondary">Couleur secondaire</label>
                                        <span class="colorFill" data-type="secondary"></span>
                                        <input type="text" value="" name="color-secondary"
                                               class="color-picker" id="color-secondary"
                                               data-color="secondary"/>
                                    </div>

                                    <!-- Color text -->
                                    <div class="single-option">
                                        <label for="color-text">Couleur du texte</label>
                                        <span class="colorFill" data-type="text"></span>
                                        <input type="text" value="" name="color-text"
                                               class="color-picker" id="color-text" data-color="text"/>
                                    </div>

                                    <!-- Color grey -->
                                    <div class="single-option">
                                        <label for="color-grey">Couleur grise</label>
                                        <span class="colorFill" data-type="grey"></span>
                                        <input type="text" value="" name="color-grey"
                                               class="color-picker" id="color-grey" data-color="grey"/>
                                    </div>

                                    <!-- Color header -->
                                    <div class="single-option">
                                        <label for="color-header">Couleur du header</label>
                                        <span class="colorFill" data-type="header"></span>
                                        <input type="text" value="" name="color-header"
                                               class="color-picker" id="color-header" data-color="header"/>
                                    </div>

                                    <!-- Color header shrink -->
                                    <div class="single-option">
                                        <label for="color-header-shrink">Couleur du header shrink</label>
                                        <span class="colorFill" data-type="header-shrink"></span>
                                        <input type="text" value="" name="color-header-shrink"
                                               class="color-picker" id="color-header-shrink" data-color="header-shrink"/>
                                    </div>

                                    <!-- Color footer -->
                                    <div class="single-option">
                                        <label for="color-footer">Couleur du footer</label>
                                        <span class="colorFill" data-type="footer"></span>
                                        <input type="text" value="" name="color-footer"
                                               class="color-picker" id="color-footer" data-color="footer"/>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </section>


                    <footer>

                    </footer>

                </div>
            </li>
            <!--==== END COULEURS SECTION ====-->

            <!--==== POLICE SECTION ====-->
            <li class="configu-section" id="configu-police">
                <div class="li_container" >

                    <header>
                        <h3><strong>3</strong> Polices de caractère</h3>

                        <span class="single_reset" data-element="font">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 510.39">
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path d="M436.63,74.12A254.88,254.88,0,0,0,256.8,0a257.33,257.33,0,0,0-60.1,7.08,7.5,7.5,0,1,0,3.5,14.59A242.64,242.64,0,0,1,256.8,15,240.17,240.17,0,0,1,426.64,425,238.56,238.56,0,0,1,256.8,495.39H256A240.19,240.19,0,0,1,16.61,255.2c0-1.48,0-3,.05-4.46H55.89c0,1.51-.06,3-.06,4.46,0,110.81,90.16,201,201,201a201.21,201.21,0,0,0,92.07-22.35,203.26,203.26,0,0,0,69.77-59.59,7.5,7.5,0,1,0-12.07-8.9A188.24,188.24,0,0,1,342,420.49a183.49,183.49,0,0,1-85.17,20.67c-102.54,0-186-83.42-186-186,0-2.1,0-4.29.12-6.49a12.51,12.51,0,0,0-12.49-13H14.22A12.46,12.46,0,0,0,1.71,247.91c-.07,2.43-.1,4.88-.1,7.29A255.11,255.11,0,0,0,255.92,510.39h.89A255.2,255.2,0,0,0,436.63,74.12Z"/>
                                        <path d="M10.24,208.28H118.88a15.37,15.37,0,0,0,11-4.28l47.81-47.43a9.46,9.46,0,0,0,2.1-10.35,9.59,9.59,0,0,0-8.75-6H110.88A186,186,0,0,1,442.73,251.28,183.69,183.69,0,0,1,424,336.65a7.5,7.5,0,1,0,13.48,6.6,201.17,201.17,0,0,0-177.87-289A201.36,201.36,0,0,0,93.34,138.43a10.61,10.61,0,0,0,8.51,16.72h55.83l-38.39,38.2c-.09.09-.22-.07-.35-.07H14.8V88.93c0-.14.48-.26.58-.35L53.66,50.5V94.81a10.44,10.44,0,0,0,18.47,6.78C76.81,96,81.8,90.52,87,85.36a239,239,0,0,1,80.87-53.42A7.5,7.5,0,1,0,162.29,18,253.58,253.58,0,0,0,76.36,74.75c-2.63,2.62-5.11,5.31-7.63,8.06V37.27a9.43,9.43,0,0,0-16.11-6.78L4.81,77.92A15.66,15.66,0,0,0,0,88.87V197.51A10.27,10.27,0,0,0,2.82,205a10.68,10.68,0,0,0,7.42,3.33Z"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </header>

                    <section class="nav-item-wrap police-container">

                        <div class="intro-mod">
                            <p>Choisissez parmi toutes les polices Google fonts, nous vous proposons les 50 plus
                                populaires ou vous pouvez saisir une police précise en parcourant le <a
                                        href="https://fonts.google.com/" target="_blank">site web de Google
                                    Fonts</a>.</p>
                            <p>Vous pouvez aussi saisir les polices officielles de votre charte graphique, mais
                                elles risquent de ne pas figurer dans la liste suivante. N'hésitez pas à vous
                                rapprocher de l'auteur de votre charte graphique.</p>
                        </div>
                        <div class="select_container">
                            <label for="police_main" class="police_selector_label">Principale</label>
                            <select name="police_main" id="police_main" class="police_selector_conf"
                                    data-font="main">
                            </select>
                            <span class="select_font_main"></span>
                            <input type="text" class="font_input" id="font_main_input" name="font_main_input"
                                   data-txt="police main différente" placeholder="autre police principale">
                        </div>

                        <div class="select_container">
                            <label for="police_sec" class="police_selector_label">Secondaire</label>
                            <select name="police_sec" id="police_sec" class="police_selector_conf" data-font="sec">
                            </select>
                            <span class="select_font_sec"></span>
                            <input type="text" class="font_input" id="font_sec_input" name="font_sec_input"
                                   data-txt="police secondaire différente" placeholder="autre police secondaire">
                        </div>


                    </section>


                    <footer>

                    </footer>

                </div>
            </li>
            <!--==== END POLICE SECTION ====-->

            <!--==== RESEAUX SECTION ====-->
            <li class="configu-section" id="configu-reseaux">
                <div class="li_container">

                    <header>
                        <h3><strong>4</strong>Réseaux sociaux</h3>

                        <span class="single_reset" data-element="social">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 510.39">
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path d="M436.63,74.12A254.88,254.88,0,0,0,256.8,0a257.33,257.33,0,0,0-60.1,7.08,7.5,7.5,0,1,0,3.5,14.59A242.64,242.64,0,0,1,256.8,15,240.17,240.17,0,0,1,426.64,425,238.56,238.56,0,0,1,256.8,495.39H256A240.19,240.19,0,0,1,16.61,255.2c0-1.48,0-3,.05-4.46H55.89c0,1.51-.06,3-.06,4.46,0,110.81,90.16,201,201,201a201.21,201.21,0,0,0,92.07-22.35,203.26,203.26,0,0,0,69.77-59.59,7.5,7.5,0,1,0-12.07-8.9A188.24,188.24,0,0,1,342,420.49a183.49,183.49,0,0,1-85.17,20.67c-102.54,0-186-83.42-186-186,0-2.1,0-4.29.12-6.49a12.51,12.51,0,0,0-12.49-13H14.22A12.46,12.46,0,0,0,1.71,247.91c-.07,2.43-.1,4.88-.1,7.29A255.11,255.11,0,0,0,255.92,510.39h.89A255.2,255.2,0,0,0,436.63,74.12Z"/>
                                        <path d="M10.24,208.28H118.88a15.37,15.37,0,0,0,11-4.28l47.81-47.43a9.46,9.46,0,0,0,2.1-10.35,9.59,9.59,0,0,0-8.75-6H110.88A186,186,0,0,1,442.73,251.28,183.69,183.69,0,0,1,424,336.65a7.5,7.5,0,1,0,13.48,6.6,201.17,201.17,0,0,0-177.87-289A201.36,201.36,0,0,0,93.34,138.43a10.61,10.61,0,0,0,8.51,16.72h55.83l-38.39,38.2c-.09.09-.22-.07-.35-.07H14.8V88.93c0-.14.48-.26.58-.35L53.66,50.5V94.81a10.44,10.44,0,0,0,18.47,6.78C76.81,96,81.8,90.52,87,85.36a239,239,0,0,1,80.87-53.42A7.5,7.5,0,1,0,162.29,18,253.58,253.58,0,0,0,76.36,74.75c-2.63,2.62-5.11,5.31-7.63,8.06V37.27a9.43,9.43,0,0,0-16.11-6.78L4.81,77.92A15.66,15.66,0,0,0,0,88.87V197.51A10.27,10.27,0,0,0,2.82,205a10.68,10.68,0,0,0,7.42,3.33Z"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </header>

                    <section class="nav-item-wrap reseaux-container">

                        <label for="res_facebook" class="check_container_reseaux social_facebook" data-social="facebook">Facebook
                            <input type="checkbox" id="res_facebook">
                            <span class="checkmark"></span>
                        </label>

                        <label for="res_twitter" class="check_container_reseaux social_twitter" data-social="twitter">Twitter
                            <input type="checkbox" id="res_twitter">
                            <span class="checkmark"></span>
                        </label>

                        <label for="res_instagram" class="check_container_reseaux social_instagram" data-social="instagram">Instagram
                            <input type="checkbox" id="res_instagram">
                            <span class="checkmark"></span>
                        </label>

                        <label for="res_linkedin" class="check_container_reseaux social_linkedin" data-social="linkedin">Linkedin
                            <input type="checkbox" id="res_linkedin">
                            <span class="checkmark"></span>
                        </label>

                        <label for="res_youtube" class="check_container_reseaux social_youtube" data-social="youtube">Youtube
                            <input type="checkbox" id="res_youtube">
                            <span class="checkmark"></span>
                        </label>

                        <label for="res_pinterest" class="check_container_reseaux social_pinterest" data-social="pinterest">Pinterest
                            <input type="checkbox" id="res_pinterest">
                            <span class="checkmark"></span>
                        </label>

                        <label for="res_houzz" class="check_container_reseaux social_houzz" data-social="houzz">Houzz
                            <input type="checkbox" id="res_houzz">
                            <span class="checkmark"></span>
                        </label>

                    </section>


                    <footer>

                    </footer>

                </div>
            </li>
            <!--==== END RESEAUX SECTION ====-->

            <!--==== MENU SECTION ====-->
            <li class="configu-section" id="configu-menu">
                <div class="li_container">

                    <header>
                        <h3><strong>5</strong>Menu</h3>

                        <span class="single_reset" data-element="menu">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 510.39">
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path d="M436.63,74.12A254.88,254.88,0,0,0,256.8,0a257.33,257.33,0,0,0-60.1,7.08,7.5,7.5,0,1,0,3.5,14.59A242.64,242.64,0,0,1,256.8,15,240.17,240.17,0,0,1,426.64,425,238.56,238.56,0,0,1,256.8,495.39H256A240.19,240.19,0,0,1,16.61,255.2c0-1.48,0-3,.05-4.46H55.89c0,1.51-.06,3-.06,4.46,0,110.81,90.16,201,201,201a201.21,201.21,0,0,0,92.07-22.35,203.26,203.26,0,0,0,69.77-59.59,7.5,7.5,0,1,0-12.07-8.9A188.24,188.24,0,0,1,342,420.49a183.49,183.49,0,0,1-85.17,20.67c-102.54,0-186-83.42-186-186,0-2.1,0-4.29.12-6.49a12.51,12.51,0,0,0-12.49-13H14.22A12.46,12.46,0,0,0,1.71,247.91c-.07,2.43-.1,4.88-.1,7.29A255.11,255.11,0,0,0,255.92,510.39h.89A255.2,255.2,0,0,0,436.63,74.12Z"/>
                                        <path d="M10.24,208.28H118.88a15.37,15.37,0,0,0,11-4.28l47.81-47.43a9.46,9.46,0,0,0,2.1-10.35,9.59,9.59,0,0,0-8.75-6H110.88A186,186,0,0,1,442.73,251.28,183.69,183.69,0,0,1,424,336.65a7.5,7.5,0,1,0,13.48,6.6,201.17,201.17,0,0,0-177.87-289A201.36,201.36,0,0,0,93.34,138.43a10.61,10.61,0,0,0,8.51,16.72h55.83l-38.39,38.2c-.09.09-.22-.07-.35-.07H14.8V88.93c0-.14.48-.26.58-.35L53.66,50.5V94.81a10.44,10.44,0,0,0,18.47,6.78C76.81,96,81.8,90.52,87,85.36a239,239,0,0,1,80.87-53.42A7.5,7.5,0,1,0,162.29,18,253.58,253.58,0,0,0,76.36,74.75c-2.63,2.62-5.11,5.31-7.63,8.06V37.27a9.43,9.43,0,0,0-16.11-6.78L4.81,77.92A15.66,15.66,0,0,0,0,88.87V197.51A10.27,10.27,0,0,0,2.82,205a10.68,10.68,0,0,0,7.42,3.33Z"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </header>

                    <section class="nav-item-wrap menu-container">

                        <div class="select_menu">
                            <label for="menus_back">Choisissez le menu à modifier : </label>
                            <select name="menus_back" id="menus_back">
                                <option value="select" data-menu="select">----------</option>
                            </select>
                        </div>

                        <div id="back-menu-main" class="front-display-menu">
                            <h3>Menu principal</h3>
                            <div id="menu-container_main" class="menu_container_back">
                                <ul id="sortable_main" class="page_container sortable_go" data-type="main"></ul>

                            </div>
                        </div>

                        <div id="back-menu-footer" class="front-display-menu">
                            <h3>Menu du pied de page</h3>
                            <div id="menu-container_footer" class="menu_container_back">
                                <ul id="sortable_footer" class="page_container sortable_go" data-type="footer"></ul>
                            </div>
                        </div>

                        <div class="new_element_container">

                            <div class="name_menu_back_container form_menu_item">
                                <label for="nom_menu_back">Nom</label>
                                <input id="nom_menu_back" placeholder="Exemple : Actualités" type="text">
                            </div>

                            <div class="slug_menu_back_container form_menu_item">
                                <label for="slug_menu_back">Slug</label>
                                <input id="slug_menu_back" placeholder="Exemple : mon-actu" type="text">
                            </div>

                            <button class="add_mainmenu_item_btn form_menu_item">Ajouter</button>
                        </div>

                    </section>


                    <footer>

                    </footer>

                </div>
            </li>
            <!--==== END MENU SECTION ====-->

            <!--==== CONTENUS SECTION ====-->
            <li class="configu-section" id="configu-contenus">
                <div class="li_container">

                    <header>
                        <h3><strong>6</strong>Contenus</h3>

                        <span class="single_reset" data-element="content">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 510.39">
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path d="M436.63,74.12A254.88,254.88,0,0,0,256.8,0a257.33,257.33,0,0,0-60.1,7.08,7.5,7.5,0,1,0,3.5,14.59A242.64,242.64,0,0,1,256.8,15,240.17,240.17,0,0,1,426.64,425,238.56,238.56,0,0,1,256.8,495.39H256A240.19,240.19,0,0,1,16.61,255.2c0-1.48,0-3,.05-4.46H55.89c0,1.51-.06,3-.06,4.46,0,110.81,90.16,201,201,201a201.21,201.21,0,0,0,92.07-22.35,203.26,203.26,0,0,0,69.77-59.59,7.5,7.5,0,1,0-12.07-8.9A188.24,188.24,0,0,1,342,420.49a183.49,183.49,0,0,1-85.17,20.67c-102.54,0-186-83.42-186-186,0-2.1,0-4.29.12-6.49a12.51,12.51,0,0,0-12.49-13H14.22A12.46,12.46,0,0,0,1.71,247.91c-.07,2.43-.1,4.88-.1,7.29A255.11,255.11,0,0,0,255.92,510.39h.89A255.2,255.2,0,0,0,436.63,74.12Z"/>
                                        <path d="M10.24,208.28H118.88a15.37,15.37,0,0,0,11-4.28l47.81-47.43a9.46,9.46,0,0,0,2.1-10.35,9.59,9.59,0,0,0-8.75-6H110.88A186,186,0,0,1,442.73,251.28,183.69,183.69,0,0,1,424,336.65a7.5,7.5,0,1,0,13.48,6.6,201.17,201.17,0,0,0-177.87-289A201.36,201.36,0,0,0,93.34,138.43a10.61,10.61,0,0,0,8.51,16.72h55.83l-38.39,38.2c-.09.09-.22-.07-.35-.07H14.8V88.93c0-.14.48-.26.58-.35L53.66,50.5V94.81a10.44,10.44,0,0,0,18.47,6.78C76.81,96,81.8,90.52,87,85.36a239,239,0,0,1,80.87-53.42A7.5,7.5,0,1,0,162.29,18,253.58,253.58,0,0,0,76.36,74.75c-2.63,2.62-5.11,5.31-7.63,8.06V37.27a9.43,9.43,0,0,0-16.11-6.78L4.81,77.92A15.66,15.66,0,0,0,0,88.87V197.51A10.27,10.27,0,0,0,2.82,205a10.68,10.68,0,0,0,7.42,3.33Z"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </header>

                    <section class="nav-item-wrap contenus-container">

                        <ul class="contenus_container accordeon"></ul>

                    </section>


                    <footer>

                    </footer>

                </div>
            </li>
            <!--==== END CONTENUS SECTION ====-->

            <!--==== MEDIAS SECTION ====-->
            <li class="configu-section" id="configu-media">
                <div class="li_container">

                    <header>
                        <h3><strong>7</strong> Medias</h3>
                        <span class="single_reset" data-element="media">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 510.39">
                                <g id="Calque_2" data-name="Calque 2">
                                    <g id="Calque_1-2" data-name="Calque 1">
                                        <path d="M436.63,74.12A254.88,254.88,0,0,0,256.8,0a257.33,257.33,0,0,0-60.1,7.08,7.5,7.5,0,1,0,3.5,14.59A242.64,242.64,0,0,1,256.8,15,240.17,240.17,0,0,1,426.64,425,238.56,238.56,0,0,1,256.8,495.39H256A240.19,240.19,0,0,1,16.61,255.2c0-1.48,0-3,.05-4.46H55.89c0,1.51-.06,3-.06,4.46,0,110.81,90.16,201,201,201a201.21,201.21,0,0,0,92.07-22.35,203.26,203.26,0,0,0,69.77-59.59,7.5,7.5,0,1,0-12.07-8.9A188.24,188.24,0,0,1,342,420.49a183.49,183.49,0,0,1-85.17,20.67c-102.54,0-186-83.42-186-186,0-2.1,0-4.29.12-6.49a12.51,12.51,0,0,0-12.49-13H14.22A12.46,12.46,0,0,0,1.71,247.91c-.07,2.43-.1,4.88-.1,7.29A255.11,255.11,0,0,0,255.92,510.39h.89A255.2,255.2,0,0,0,436.63,74.12Z"/>
                                        <path d="M10.24,208.28H118.88a15.37,15.37,0,0,0,11-4.28l47.81-47.43a9.46,9.46,0,0,0,2.1-10.35,9.59,9.59,0,0,0-8.75-6H110.88A186,186,0,0,1,442.73,251.28,183.69,183.69,0,0,1,424,336.65a7.5,7.5,0,1,0,13.48,6.6,201.17,201.17,0,0,0-177.87-289A201.36,201.36,0,0,0,93.34,138.43a10.61,10.61,0,0,0,8.51,16.72h55.83l-38.39,38.2c-.09.09-.22-.07-.35-.07H14.8V88.93c0-.14.48-.26.58-.35L53.66,50.5V94.81a10.44,10.44,0,0,0,18.47,6.78C76.81,96,81.8,90.52,87,85.36a239,239,0,0,1,80.87-53.42A7.5,7.5,0,1,0,162.29,18,253.58,253.58,0,0,0,76.36,74.75c-2.63,2.62-5.11,5.31-7.63,8.06V37.27a9.43,9.43,0,0,0-16.11-6.78L4.81,77.92A15.66,15.66,0,0,0,0,88.87V197.51A10.27,10.27,0,0,0,2.82,205a10.68,10.68,0,0,0,7.42,3.33Z"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </header>

                    <section class="nav-item-wrap media-container">

                        <div class="back_configu_img">
                            <h4>Les images par default</h4>
                            <ul id="images_container_configu" class="container_list_media"></ul>
                        </div>

                        <!--
                        <div class="back_configu_video">
                            <h4>Les vidéos par default</h4>
                            <ul id="videos_container_configu"></ul>
                        </div>
                        -->

                    </section>


                    <footer>

                    </footer>

                </div>
            </li>
            <!--==== END LOGO SECTION ====-->
        </ul>
    </nav>

    <div class="button_container_config">
        <div class="btn_container_conf"><a class="reset_configurateur">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 510.39">
                <g id="Calque_2" data-name="Calque 2">
                    <g id="Calque_1-2" data-name="Calque 1">
                        <path d="M436.63,74.12A254.88,254.88,0,0,0,256.8,0a257.33,257.33,0,0,0-60.1,7.08,7.5,7.5,0,1,0,3.5,14.59A242.64,242.64,0,0,1,256.8,15,240.17,240.17,0,0,1,426.64,425,238.56,238.56,0,0,1,256.8,495.39H256A240.19,240.19,0,0,1,16.61,255.2c0-1.48,0-3,.05-4.46H55.89c0,1.51-.06,3-.06,4.46,0,110.81,90.16,201,201,201a201.21,201.21,0,0,0,92.07-22.35,203.26,203.26,0,0,0,69.77-59.59,7.5,7.5,0,1,0-12.07-8.9A188.24,188.24,0,0,1,342,420.49a183.49,183.49,0,0,1-85.17,20.67c-102.54,0-186-83.42-186-186,0-2.1,0-4.29.12-6.49a12.51,12.51,0,0,0-12.49-13H14.22A12.46,12.46,0,0,0,1.71,247.91c-.07,2.43-.1,4.88-.1,7.29A255.11,255.11,0,0,0,255.92,510.39h.89A255.2,255.2,0,0,0,436.63,74.12Z"/>
                        <path d="M10.24,208.28H118.88a15.37,15.37,0,0,0,11-4.28l47.81-47.43a9.46,9.46,0,0,0,2.1-10.35,9.59,9.59,0,0,0-8.75-6H110.88A186,186,0,0,1,442.73,251.28,183.69,183.69,0,0,1,424,336.65a7.5,7.5,0,1,0,13.48,6.6,201.17,201.17,0,0,0-177.87-289A201.36,201.36,0,0,0,93.34,138.43a10.61,10.61,0,0,0,8.51,16.72h55.83l-38.39,38.2c-.09.09-.22-.07-.35-.07H14.8V88.93c0-.14.48-.26.58-.35L53.66,50.5V94.81a10.44,10.44,0,0,0,18.47,6.78C76.81,96,81.8,90.52,87,85.36a239,239,0,0,1,80.87-53.42A7.5,7.5,0,1,0,162.29,18,253.58,253.58,0,0,0,76.36,74.75c-2.63,2.62-5.11,5.31-7.63,8.06V37.27a9.43,9.43,0,0,0-16.11-6.78L4.81,77.92A15.66,15.66,0,0,0,0,88.87V197.51A10.27,10.27,0,0,0,2.82,205a10.68,10.68,0,0,0,7.42,3.33Z"/>
                    </g>
                </g>
            </svg>
            <span>Restaurer la configuration par défaut</span></a></div>
        <div class="btn_container_conf"><a class="save_configurateur">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 301.1 512">
                <g id="Calque_2" data-name="Calque 2">
                    <g id="Calque_1-2" data-name="Calque 1">
                        <path d="M48.2,308.55l94.81,94a11.52,11.52,0,0,0,16.26-.06l43.41-43.77A7.5,7.5,0,1,0,192,348.19l-40.94,41.28L59.37,298.63V248.88l57.55,57.21a9.5,9.5,0,0,0,16.19-6.75V15h35V299.2a9.5,9.5,0,0,0,16.24,6.69l57.44-57.79v49.79L217,323a7.5,7.5,0,0,0,10.65,10.56l25.61-25.82a12.26,12.26,0,0,0,3.46-8.86V234.76a9.61,9.61,0,0,0-6.07-8.74,9.46,9.46,0,0,0-10.34,2.1l-57.24,57.72V12.5A12.52,12.52,0,0,0,170.61,0h-40a12.51,12.51,0,0,0-12.5,12.5V286.14L60.36,228.87a9.44,9.44,0,0,0-10.36-2,9.31,9.31,0,0,0-5.66,8.8v64.08a12.51,12.51,0,0,0,3.86,8.81Z"/>
                        <path d="M288.6,447H93.23a7.5,7.5,0,0,0,0,15H286.1v35H15V462H58.23a7.5,7.5,0,1,0,0-15H12.5A12.52,12.52,0,0,0,0,459.5v40A12.52,12.52,0,0,0,12.5,512H288.6a12.52,12.52,0,0,0,12.5-12.5v-40A12.52,12.52,0,0,0,288.6,447Z"/>
                    </g>
                </g>
            </svg>
            <span>Télécharger une sauvegarde</span></a></div>
        <div class="btn_container_conf">
            <label class="charge_save_container" for="getsaveConfig">
                <input type="file" id="getsaveConfig" name="getsaveConfig" accept="application/JSON">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 301.1 512">
                    <g id="Calque_2" data-name="Calque 2">
                        <g id="Calque_1-2" data-name="Calque 1">
                            <path d="M252.9,97.36l-94.81-94a11.5,11.5,0,0,0-16.26.07L98.41,47.17a7.5,7.5,0,0,0,10.65,10.56L150,16.44l91.72,90.84V157l-57.55-57.2A9.5,9.5,0,0,0,168,106.57V390.91H133V106.72A9.5,9.5,0,0,0,116.74,100L59.31,157.82V108L84.05,83A7.5,7.5,0,1,0,73.4,72.39L47.8,98.2a12.26,12.26,0,0,0-3.46,8.87v64.08a9.63,9.63,0,0,0,6.07,8.75,9.47,9.47,0,0,0,10.33-2.11L118,120.07V393.41a12.51,12.51,0,0,0,12.5,12.5h40a12.51,12.51,0,0,0,12.5-12.5V119.77L240.73,177a9.48,9.48,0,0,0,10.37,2,9.32,9.32,0,0,0,5.66-8.81V106.17a12.59,12.59,0,0,0-3.86-8.81Z"/>
                            <path d="M288.6,447H93.23a7.5,7.5,0,0,0,0,15H286.1v35H15V462H58.23a7.5,7.5,0,1,0,0-15H12.5A12.52,12.52,0,0,0,0,459.5v40A12.52,12.52,0,0,0,12.5,512H288.6a12.52,12.52,0,0,0,12.5-12.5v-40A12.52,12.52,0,0,0,288.6,447Z"/>
                        </g>
                    </g>
                </svg>
                <span>Charger une sauvegarde</span>
            </label>
        </div>
        <div class="btn_container_conf"><a class="sendMailConfig">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.55 492.55">
                <g id="Calque_2" data-name="Calque 2">
                    <g id="Calque_1-2" data-name="Calque 1">
                        <path d="M487.69,1.26a9.61,9.61,0,0,0-9.66.08L301.74,105.59a9.62,9.62,0,1,0,9.79,16.56L438,47.35,202.42,291.81,85.24,256l152.92-90.43A9.62,9.62,0,1,0,228.37,149L56.67,250.5A9.62,9.62,0,0,0,58.75,268l140,42.81,61.73,112.38.2.3a9.59,9.59,0,0,0,15,1.95l71-69.38,133.53,40.85a9.62,9.62,0,0,0,8.54-1.47,9.61,9.61,0,0,0,3.9-7.73V9.62A9.65,9.65,0,0,0,487.69,1.26ZM403.64,110.75,261,316.72a9.58,9.58,0,0,0-1.71,5.48v58.85l-42.16-76.74ZM278.49,395.68V335.2l47.13,14.42Zm5.78-78.83L473.31,44V374.69Z"/>
                        <path d="M158.18,334.37a9.64,9.64,0,0,0-13.61,0L54.76,424.18a9.62,9.62,0,0,0,13.61,13.6L158.18,348A9.64,9.64,0,0,0,158.18,334.37Z"/>
                        <path d="M24.94,454,2.82,476.13a9.62,9.62,0,1,0,13.6,13.6L38.55,467.6A9.62,9.62,0,0,0,24.94,454Z"/>
                        <path d="M130.43,472.74a9.63,9.63,0,1,0,6.8,2.82A9.67,9.67,0,0,0,130.43,472.74Z"/>
                        <path d="M195.2,404l-47.57,47.57a9.62,9.62,0,0,0,13.61,13.6l47.56-47.56A9.62,9.62,0,1,0,195.2,404Z"/>
                        <path d="M359.37,400.33,311.67,448a9.62,9.62,0,0,0,13.61,13.6L373,413.93a9.62,9.62,0,0,0-13.6-13.6Z"/>
                        <path d="M265.93,147.55a9.63,9.63,0,1,0-6.8-2.82A9.65,9.65,0,0,0,265.93,147.55Z"/>
                    </g>
                </g>
            </svg>
            <span>Envoyer la configuration à Infocob</span></a></div>
    </div>

</div>
