<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<article id="back_configu_container">
    <h1>Gestion des configurations - DEMO 1</h1>

    <ul id="card_header_container">
        <li class="card_header">
            <span>Configuration en cours</span>
            <span class="result_card_header result_config_saved"></span>
        </li>

        <li class="card_header">
            <span>Configuration finalisées</span>
            <span class="result_card_header result_config_finished"></span>
        </li>

        <li class="card_header">
            <span>Configurations générées</span>
            <span class="result_card_header result_config_generate"></span>
        </li>

        <li class="card_header">
            <span>Version actuelle</span>
            <span class="result_card_header result_config_version">1.0</span>
        </li>
    </ul>

    <div id="section_button_share">
        <section id="button_action_configu">
            <a id="delete_allConfig" href="#">Supprimer toutes les configurations</a>
            <a id="godemo1" href="https://demo1.infocob-web.com/" target="_blank">Se rendre sur le demo1</a>
            <a id="godemo2" href="https://demo2.infocob-web.com/" target="_blank">Se rendre sur le demo2</a>
            <a id="godemo3" href="https://demo3.infocob-web.com/" target="_blank">Se rendre sur le demo3</a>
            <a id="godemo4" href="https://demo4.infocob-web.com/" target="_blank">Se rendre sur le demo4</a>
            <a id="godemo5" href="https://demo5.infocob-web.com/" target="_blank">Se rendre sur le demo5</a>
        </section>

        <section id="share_link_configu">

            <div class="card_share link_gene_configu">
                <select name="selectRef" id="selectRef">
                    <option value="">Référence</option>
                </select>
                <input type="text">
                <button id="generate_button">générer un lien de partage</button>
            </div>

            <!--
            <div class="option_gen_container">
                <input type="checkbox" id="check_customer" name="check_customer" checked>
                <label for="check_customer">
                    Cochez cette case si cette configuration est à destination du client.
                    Cela aura pour effet de ne pas ouvrir le configurateur, mais le client aura tout de même accès à la configuration réalisée.
                </label>
            </div>
            -->

        </section>
    </div>

    <section id="display_configurations">
        <h2>Les configurations enregistrées</h2>
        <table id='getAllConfigu' class='table'>
            <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Référence</th>
                <th scope='col'>Crée le</th>
                <th scope='col'>Modifié le</th>
                <th scope='col'>Version</th>
                <th scope='col'>E-mail envoyé ?</th>
                <th scope='col'>Projet généré ?</th>
                <th scope='col'>Commercial lié</th>
                <th scope='col'></th>
                <th scope='col'></th>
                <th scope='col'></th>
                <th scope='col'></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>#</th>
                <th>Référence</th>
                <th>Crée le</th>
                <th>Modifié le</th>
                <th>Version</th>
                <th>E-mail envoyé ?</th>
                <th>Projet généré ?</th>
                <th>Commercial lié</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </section>
</article>