<div class="mail_container">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Informations de contact</legend>

            <div class="row">
                <div class="col-md-6">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="nom_gen">Nom du site
                            internet</label>
                        <div class="col-md-12">
                            <input id="nom_gen" name="nom_gen" type="text"
                                   placeholder="Nom du site internet" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="ssid_gen">Adresse Numérique
                            voulu</label>
                        <div class="col-md-12">
                            <input id="ssid_gen" name="ssid_gen" type="text"
                                   placeholder="Adresse numérique voulu" class="form-control input-md">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="tel_gen">Numéro de
                            téléphone</label>
                        <div class="col-md-12">
                            <input id="tel_gen" name="tel_gen" type="text"
                                   placeholder="Numéro de téléphone" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="mail_gen">Adresse
                            e-mail</label>
                        <div class="col-md-12">
                            <input id="mail_gen" name="mail_gen" type="text"
                                   placeholder="Adresse e-mail" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="Address_gen">Adresse
                            physique</label>
                        <div class="col-md-12">
                            <input id="Address_gen" name="Address_gen" type="text"
                                   placeholder="Adresse physique" class="form-control input-md">
                        </div>
                    </div>
                </div>
            </div>


        </fieldset>
    </form>


    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Informations de l'entreprise</legend>

            <div class="row">
                <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="society_name_gen">Nom de la
                            société</label>
                        <div class="col-md-12">
                            <input id="society_name_gen" name="society_name_gen" type="text"
                                   placeholder="Numéro de téléphone" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="representant_gen">Représentant
                            légal</label>
                        <div class="col-md-12">
                            <input id="representant_gen" name="representant_gen" type="text"
                                   placeholder="Représentant légal" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="statut_gen">Statut</label>
                        <div class="col-md-12">
                            <input id="statut_gen" name="statut_gen" type="text"
                                   placeholder="Statut" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="naf_gen">code NAF</label>
                        <div class="col-md-12">
                            <input id="naf_gen" name="naf_gen" type="text"
                                   placeholder="code NAF" class="form-control input-md">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="cs_num_gen">Registre du commerce et
                            des société</label>
                        <div class="col-md-12">
                            <input id="cs_num_gen" name="cs_num_gen" type="text"
                                   placeholder="Registre du commerce et des société"
                                   class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="tva_gen">Numéro de TVA</label>
                        <div class="col-md-12">
                            <input id="tva_gen" name="tva_gen" type="text"
                                   placeholder="Numéro de TVA" class="form-control input-md">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="siege_gen">Adresse du siege</label>
                        <div class="col-md-12">
                            <input id="siege_gen" name="siege_gen" type="text"
                                   placeholder="Adresse du siege" class="form-control input-md">
                        </div>
                    </div>
                </div>
            </div>


        </fieldset>
    </form>

    <button id="send_mail">Envoyer le mail</button>
</div>